# Игнорировать папки __pycache__
__pycache__/

# Игнорировать все папки, начинающиеся с "photos"
photos*/

# Дополнительно: игнорировать виртуальное окружение (если используется)
venv/

# Игнорировать файлы конфигурации и логов
*.log
.env

run.py
test.py